.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__newTask {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 87%);
}

.form__button {
    color: hsl(0, 0%, 100%);
    background: hsl(180, 100%, 25%);
    padding: 10px;
    border: none;
    transition: 0.5s;
}

.form__button:hover {
    background: hsl(180, 100%, 30%);
    transform: scale(1.10);
    cursor: pointer;
}

.form__button:active {
    background: hsl(180, 100%, 35%);
}