html {
  box-sizing: border-box;
  background: hsl(0, 0%, 87%);
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  overflow-wrap: anywhere;
  background-color: hsl(0, 0%, 87%);
  font-family: 'Montserrat', sans-serif;
}